.language__mark {
  padding-top: 24px;
}
.language__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.language__list .btn span:lang(my) {
  font-family: 'Noto Sans Myanmar', sans-serif;
}
.language__list .btn span:lang(ar) {
  font-family: 'Noto Sans Arabic', sans-serif;
}
